header{
    background-color: #663a3a;
    color: #dfd6d6;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

main{
    background-color:#d410fc ;
    color: #440eda
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

img {
    width: 80px;
    height: 80px;
}